{% load i18n %}
<html>
<head>
<title>{% block page_title %}{% trans "EMPRESA | Sites availables for account" %}{% endblock %}</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="bgtop">
  <div class="wrapper">
    <div class="clear">
      <div class="right mtop10"><img src="{{ STATIC_URL }}img/LOGO_EMPRESA.jpg"/></div>
    </div>

    <div class="tr nav clear"><a href="{% url django.contrib.auth.views.password_change %}">{% trans "Change Password" %}</a> | <a href="/logout">{% trans "Logout" %}</a></div>
    <div class="mtop10 clear" >
      <div class="bbottom clear">
        <div class="left mg10 tl">
          <h2 class="m0">Welcome to EMPRESA</h2>
          <p class="m0">you are logged in as {{ user }} (last login {{user.last_login}}) {% if in_staff %}is staff{% endif %}</p>
        </div>
        <div class="clear m0 p0"></div>
      </div>

      {% for s in sites %}
        <ul class="bglist clear tl m0 p0">
          {% for site in s.sites.all %}
            {% if forloop.first %}{{ s.group }}{% endif %}
              <li class="clear" {% if not forloop.last %}style="border-bottom:1px dashed #ccc; margin:0 0 5px; padding:0 0 5px"{% endif %}>
              <div class="left col1 tc">
                <a href="{{site.path_urls|first}}" target="_blank">
                  <img {% if site.thumbnail %} src="{{ STATIC_URL }}{{site.thumbnail}}"{% else %} src="{{ STATIC_URL }}img/no_image.jpg"{% endif %}border="0" class="m5" width="94" height="75" />
                </a>
              </div>
              <div class="left col2">
                  <a href="{{site.path_urls|first}}" target="_blank">> {{site.get_site_link|safe}}</a>
                  <p>{{site.description|safe}}</p>
              </div>
              <div class="clear m0 p0"></div>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>

</body>
</html>
