html{font-size:12px; font-family:Verdana; color:#707173;}
body{ .text-align:center!important; padding:0; margin:0}
ul,li{list-style:none; padding:0}
.tc{text-align:center}
.tr{text-align:right}
.tl{text-align:left}
.left{float:left}
.right{float:right}
.clear{overflow:hidden; clear:both}
.m0{margin:0}
.p0{padding:0}
.m5{margin:5px}
.p5{padding:5px}
.m10{margin:10px}
.p10{padding:10px}
.mg10{margin:0 10px}
.pd10{padding:0 10px}
.mtop10{margin-top:10px}
.col1{width:200px}
.col2{width:400px}
.wrapper{width:650px; margin:0 auto;}
.errorlist{color:red}
.form{width:260px;margin:0 auto}
h1,h2{color:#707173}

.bbottom{border-bottom:solid 1px; padding-bottom:22px; margin:26px 0 22px}

/* main */
.bgtop {background: #FFF}
.nav{margin-top:15px;color:#707173}
.nav a{color:#707173}
.bglist{background:#f0f1f1}
